

<footer class="wrapper">

    <div class="Element1">
      <h2>Risorse</h2>
        <ul>
          <li><a href="">Gift card</a></li>
          <li><a href="">Trova un negozio</a></li>
          <li><a href="">Nike Jurnal</a></li>
          <li><a href="">Diventa member</a></li>
          <li><a href="">Sconto studenti</a></li>
          <li><a href="">Feedback</a></li>
          <li><a href="">Codici promozionali</a></li>
        </ul>

    </div>

    <div class="Element2">
      <h2>Assistenza</h2>
        <ul>
          <li><a href="">Hai bisogno di aiuto?</a></li>
          <li><a href="">Stato ordine</a></li>
          <li><a href="">Spedizione e consegna</a></li>
          <li><a href="">Resi</a></li>
          <li><a href="">Opzioni di pagamento</a></li>
          <li><a href="">Contattaci</a></li>
          <li><a href="">Recensioni</a></li>
          <li><a href="">Assistenza codici promozionali Nike</a></li>
        </ul>

    </div>

    <div class="Element3">
      <h2>Azienda</h2>
        <ul>
          <li><a href="">Informazioni si Nike</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Lavora con noi</a></li>
          <li><a href="">Investitori</a></li>
          <li><a href="">Sostenibilità</a></li>
          <li><a href="">Obiettivo</a></li>

        </ul>

    </div>

    <div class="FinalElement">
      <ul>
          <li>© 2024 Nike, Inc. Tutti i diritti riservati</li>
          <li><a href="">Guide</a></li>
          <li><a href="">Condizioni d'uso</a></li>
          <li><a href="">Condizioni di vendita</a></li>
          <li><a href="">Info legali e societarie</a></li>
          <li><a href="">Informazioni sulla privacy e sui cookie</a></li>
          <li><a href="">Impostazioni sulla privicy e sui cookie</a></li>
        </ul>
    </div>

    


 </footer>