<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home-page</title>
</head>

<body>

  <section>

    <nav id="titoloprimario">
      <h1>WIN ON AIR</h1>
      <h2>Scopri la nuova generazione Nike Air.<br>
        Pensata per i migliori atleti</h2>

    </nav>



    <figure id="hero-banner">

      <img src="assets/herobanner.jpg" alt="scarpa nike di presentazione" class="visibile">
      <!-- <img src="./MATERIALE/Home-page/herobanner2.webp" alt="scarpa nike di presentazione" class="invisibile">
          <img src="./MATERIALE/Home-page/herobanner3.jpg" alt="scrapa nike di presentazione" class=""> -->

    </figure>

    <nav id="titoloshopping">
      <h2>Shopping da non perdere</h2>
    </nav>



    <nav id="Shopping">

      <img src="assets/6 (1).webp" alt="">
      <button id="BT1" (click)="goToAllProduct()">Acquista </button>
      <img src="assets/2.webp" alt="">
      <img src="assets/3.webp" alt="">
      <img src="assets/secondascarpa1.webp" alt="">
      <button id="BT2" (click)="goToAllProduct()">Acquista</button>

      <!-- Nike Dunk Low retro Black -->
      <!-- Nike Dunk Low retro Brown -->

    </nav>

    <nav id="titoloimmagini1">
      <h2>Tutte le migliori novità</h2>
    </nav>

    <nav id="secondafila">
      <figure><img src="assets/scarpa_1 (2).jpg" alt=""><a href="">Nike Mercurial Vapor 16 Elite</a></figure>
      <figure><img src="assets/scarpe_2.png" alt=""><a href="">Nike Phantom GX 2 Elite</a></figure>
      <figure><img src="assets/scarpa_3.jpg" alt=""><a href="">Nike Tiempo Legend 10 Elite</a></figure>
      <figure><img src="assets/scarpa_4.jpg" alt=""><a href="">Nike Phantom Luna 2 Pro</a></figure>

    </nav>

    <nav id="titoloimmagini2">
      <h2>Acquista per sport</h2>
    </nav>



    <nav id="terzafila">

      <figure><img src="assets/sport_1.jpg" alt=""><a href="">Calcio Femminile</a></figure>
      <figure><img src="assets/sport_4.jpg" alt=""><a href="">Tennis</a></figure>
      <figure><img src="assets/sport_5.jpg" alt=""><a href="">Lancio del peso</a></figure>
      <figure><img src="assets/sport_6.jpg" alt=""><a href="">Running</a></figure>



    </nav>





    <nav id="titoloimmagini3">
      <h2>trend della settimana</h2>
    </nav>


    <nav id="quartafila">

      <figure><img src="assets/bambini1.png" alt=""><a href=""></a></figure>
      <figure><img src="assets/bambini2.png" alt=""><a href=""></a></figure>
      <figure><img src="assets/bambini3.png" alt=""><a href=""></a></figure>
      <figure><img src="assets/bambini4.png" alt=""><a href=""></a></figure>
      <figure><img src="assets/bambini6.png" alt=""><a href=""></a></figure>


    </nav>
  </section>

</body>

</html>