* {
    box-sizing: border-box;

    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;

}


.contact {
    margin-bottom: 300px;
}


h1 {

    text-align: center;
    margin: 10% auto;
    font-size: 2em;
    color: black;
    margin-bottom: 20px;
}

p {

    text-align: center;
    margin: 10% auto;
    font-size: 1.3em;
    color: black;
    margin: 4px;

}

a {

    color: rgb(10, 8, 8);
}