<header>
  <nav id="box1">

    <ul id="primalista">
      <li><a [routerLink]="['/homepage']">Home</a></li>
      <li><a href="">Trova un negozio</a></li>
      <li><a href="">Aiuto</a></li>
      <li><a href="">Unisciti a noi</a></li>

    </ul>

    <figure id="boximg">
      <img src="assets/icons8-nike (1).svg" alt="Logo nike">
      <img src="assets/icons8-air-jordan.svg" alt="jordan">
      <a href=""><img src="assets/icons8-account-24 (1).png" alt="account"></a>
    </figure>
  </nav>

  <nav id="box2">

    <div id="divLista">
      <ul>
        <li class="first-title"> Novità e in evidenza
          <div class="container-title">
            <ul>
              <li><a href="">In evidenza</a>
                <ul>
                  <li><a (click)="goToNuoviArrivi()">Tutti i nuovi arrivi</a></li>
                  <li><a (click)="goToBestSeller()">Best Seller</a></li>
                  <li><a href="">Member shop</a></li>
                  <li><a href="">Calendario dei lanci <br>SRNKRS</a></li>
                  <li><a href="">Divise delle nazionali <br>2024</a></li>
                  <li><a href="">Shop Air</a></li>
                  <li><a href="">Summer of sport</a></li>
                </ul>
              </li>
              <li><a href="">Scopri le icone</a>
                <ul>
                  <li><a href="">AieForce 1</a></li>
                  <li><a href="">Air Jordan 1</a></li>
                  <li><a href="">Air Max</a></li>
                  <li><a href="">Dunk</a></li>
                  <li><a href="">Blazer</a></li>
                  <li><a href="">Pegasus</a></li>
                  <li>
                </ul>
              </li>
              <li><a href="">Scopri lo sport </a>
                <ul>
                  <li><a href="">Calcio</a></li>
                  <li><a href="">Running</a></li>
                  <li><a href="">Basket</a></li>
                  <li><a href="">Fitness</a></li>
                  <li><a href="">Golf</a></li>
                  <li><a href="">Tennis</a></li>
                  <li><a href="">joga</a></li>
                  <li><a href="">Danza</a></li>
                  <li><a href="">Skateboard</a></li>
                </ul>
              </li>
              <li><a href="">Di tendenza</a>
                <ul>
                  <li><a href="">Air Max Home</a></li>
                  <li><a href="">Sneakers Y2K</a></li>
                  <li><a href="">Nike style by</a></li>
                  <li><a href="">Collezione Jordan Retro</a></li>
                  <li><a href="">Teenager</a></li>
                  <li><a href="">Easy on</a></li>
                  <li><a href="">Idee regalo Nike</a></li>
                  <li><a href="">Sostenibilità</a></li>
                </ul>
              </li>

            </ul>
          </div>
        </li>
        <li class="first-title">Uomo
          <div class="container-title">
            <ul>
              <li><a href="">In evidenza</a>
                <ul>
                  <li><a href="">Novità</a></li>
                  <li><a href="">Best Seller</a></li>
                  <li><a href="">Sneakers Y2K</a></li>
                  <li><a href="">Divise delle nazionali 2024</a></li>
                  <li><a href="">Shop Air</a></li>
                  <li><a href="">Summer of sport</a></li>
                </ul>
              </li>
              <li><a href="">Scarpe</a>
                <ul>
                  <li><a href="">Tuttle le scarpe</a></li>
                  <li><a href="">LifeStyle</a></li>
                  <li><a href="">Jordan</a></li>
                  <li><a href="">Calcio</a></li>
                  <li><a href="">Running</a></li>
                  <li><a href="">Basket</a></li>
                  <li><a href="">Fitnees e Training</a></li>
                  <li><a href="">Skateboard</a></li>
                  <li><a href="">Nike by you</a></li>
                </ul>
              </li>
              <li><a href="">Abbigliamento </a>
                <ul>
                  <li><a href="">Tutto Labbigliamento</a></li>
                  <li><a href="">Maglie e T-shirt</a></li>
                  <li><a href="">Felpe</a></li>
                  <li><a href="">Shorts</a></li>
                  <li><a href="">Pantaloni e tights</a></li>
                  <li><a href="">Tute</a></li>
                  <li><a href="">Giacche</a></li>
                  <li><a href="">Divise e maglie</a></li>
                </ul>
              </li>
              <li><a href="">Scopri lo sport</a>
                <ul>
                  <li><a href="">Running</a></li>
                  <li><a href="">Calcio</a></li>
                  <li><a href="">Basket</a></li>
                  <li><a href="">Fitness e Training</a></li>
                  <li><a href="">Tennis</a></li>
                  <li><a href="">Golf</a></li>
                </ul>

              </li>
              <li><a href="">Accessori</a>
                <ul>
                  <li><a href="">Tutti gli accessori</a></li>
                  <li><a href="">Borse e zaini</a></li>
                  <li><a href="">Copricapi</a></li>
                  <li><a href="">Calze</a></li>
                </ul>
              </li>

            </ul>
          </div>
        </li>
        <li class="first-title">Donna
          <div class="container-title">
            <ul>
              <li><a href="">In evidenza</a>
                <ul>
                  <li><a href="">Novità</a></li>
                  <li><a href="">Best Seller</a></li>
                  <li><a href="">Nike style by</a></li>
                  <li><a href="">Sneakers Y2K</a></li>
                  <li><a href="">Divise delle nazionali 2024</a></li>
                  <li><a href="">Shop Air</a></li>
                  <li><a href="">Summer of sport</a></li>
                </ul>
              </li>
              <li><a href="">Scarpe</a>
                <ul>
                  <li><a href="">Tuttle le scarpe</a></li>
                  <li><a href="">LifeStyle</a></li>
                  <li><a href="">Jordan</a></li>
                  <li><a href="">Running</a></li>
                  <li><a href="">Fitnees e Training</a></li>
                  <li><a href="">Calcio</a></li>
                  <li><a href="">Nike by you</a></li>
                </ul>
              </li>
              <li><a href="">Abbigliamento</a>
                <ul>
                  <li><a href="">Tutto Labbigliamento</a></li>
                  <li><a href="">Maglie e T-shirt</a></li>
                  <li><a href="">Felpe</a></li>
                  <li><a href="">Leggins</a></li>
                  <li><a href="">Shorts</a></li>
                  <li><a href="">Pantaloni</a></li>
                  <li><a href="">Set Coordinati</a></li>
                  <li><a href="">Giacche</a>/li>
                  <li><a href="">Reggiseni sportivi</a></li>
                  <li><a href="">Gonne e abiti</a></li>
                </ul>
              </li>
              <li><a href="">Scopri lo sport</a>
                <ul>
                  <li><a href="">Fitness</a></li>
                  <li><a href="">Running</a></li>
                  <li><a href="">Calcio</a></li>
                  <li><a href="">Basket</a></li>
                  <li><a href="">Tennis</a></li>
                  <li><a href="">Golf</a></li>
                  <li><a href="">Danza</a></li>
                  <li><a href="">Yoga</a></li>
                </ul>

              </li>
              <li><a href="">Accessori</a>

                <ul>
                  <li><a href="">Tutti gli accessori</a></li>
                  <li><a href="">Borse e zaini</a></li>
                  <li><a href="">Copricapi</a></li>
                  <li><a href="">Calze</a></li>
                </ul>

              </li>
            </ul>
          </div>
        </li>
        <li class="first-title">Kids
          <div class="container-title">
            <ul>
              <li><a href="">In evidenza</a>
                <ul>
                  <li><a href="">Novità</a></li>
                  <li><a href="">Best Seller</a></li>
                  <li><a href="">Teenager</a></li>
                  <li><a href="">Easy on</a></li>
                  <li><a href="">Divise delle nazionali 2024</a></li>
                  <li><a href="">Shop Air</a></li>
                  <li><a href="">Summer of sport</a></li>
                </ul>
              </li>
              <li><a href="">Scarpe</a>
                <ul>
                  <li><a href="">Tutte le scarpe</a></li>
                  <li><a href="">LifeStyle</a></li>
                  <li><a href="">Jordan</a></li>
                  <li><a href="">Calcio</a></li>
                  <li><a href="">Running</a></li>
                  <li><a href="">Basket</a></li>
                </ul>

              </li>
              <li><a href="">Abbigliamento </a>
                <ul>
                  <li><a href="">Tutto l'Abbigliamento</a></li>
                  <li><a href="">Maglie e T-shirt</a></li>
                  <li><a href="">Felpe</a></li>
                  <li><a href="">Tute</a></li>
                  <li><a href="">Shorts</a></li>
                  <li><a href="">Abbigliamento sportivo</a></li>
                  <li><a href="">Pantaloni e leggins</a></li>
                  <li><a href="">Giacche</a></li>
                  <li><a href="">Divise e maglie</a></li>
                  <li><a href="">Gonne e abiti</a></li>
                </ul>
              </li>
              <li><a href="">Kids per età</a>
                <ul>
                  <li><a href="">Ragazzo/a (7-15 anni)</a></li>
                  <li><a href="">Bambino/a (3-7 anni)</a></li>
                  <li><a href="">Bebè e bimbo/a (0-3 anni)</a></li>
                </ul>
              </li>
              <li><a href="">Accessori</a>
                <ul>
                  <li><a href="">Tutti gli accessori</a></li>
                  <li><a href="">Borse e zaini</a></li>
                  <li><a href="">Copricapi</a></li>
                  <li><a href="">Calze</a></li>
                </ul>
              </li>

            </ul>
          </div>
        </li>
        <li class="first-title">Outlet
          <div class="container-title">
            <ul>
              <li><a href="">Sconti e offerte</a>
                <ul>
                  <li><a href="">Tutti gli articoli in<br> sconto</a></li>
                  <li><a href="">Best Seller</a></li>
                  <li><a href="">Ultima Occasione</a></li>

                </ul>
              </li>
              <li><a href="">Sconti per lui</a>
                <ul>
                  <li><a href="">Tutti gli articoli in <br>sconto-uomo</a></li>
                  <li><a href="">Scarpe</a></li>
                  <li><a href="">Abbigliamento</a></li>
                  <li><a href="">Accessori</a></li>

                </ul>
              </li>
              <li><a href="">Sconti per lei</a>
                <ul>
                  <li><a href="">Tutti gli articoli in <br> sconto-donna</a></li>
                  <li><a href="">Scarpe</a></li>
                  <li><a href="">Abbigliamento</a></li>
                  <li><a href="">Accessori</a></li>
                </ul>
              </li>
              <li><a href="">Sconti per bambini</a>
                <ul>
                  <li><a href="">Tutti gli articoli in <br> sconto-kids</a></li>
                  <li><a href="">Scarpe</a></li>
                  <li><a href="">Abbigliamento</a></li>
                  <li><a href="">Accessori</a></li>

                </ul>
              </li>
              <li><a href="">Sconti per sport</a>
                <ul>
                  <li><a href="">Running</a></li>
                  <li><a href="">Calcio</a></li>
                  <li><a href="">Fintness e Training</a></li>
                  <li><a href="">Basket</a></li>
                  <li><a href="">Tennis</a></li>
                  <li><a href="">Golf</a></li>
                  <li><a href="">Yoga</a></li>
                </ul>
              </li>

            </ul>
          </div>
        </li>
      </ul>
    </div>




  </nav>

  <nav id="search-bar">



    <p><a [routerLink]="['/products']">Tutti i prodotti</a></p>
    <form id="form">
      <input type="text" id="search-input" placeholder="Cerca nei prodotti...">

    </form>

    <a><img src="assets/heart_66744.png" alt="cuore"></a>
    <a  [routerLink]="['/cart']"><img src="assets/shopping_3820286.png" alt="carrello"></a>
    <img src="" alt="">





  </nav>









</header>